### WEEK 8

In [63]:
import pandas as pd
import os

In [64]:

# Set directory where files are located
directory = r'C:\Users\Benedict\Documents\GitHub\Data preppin\Data-Preppin-\W8'

# Create empty list to hold dataframes
df_list = []

# Loop through all files in directory
for filename in os.listdir(directory):
    if filename.endswith(".csv") and filename.startswith("MOCK"):
        # Read CSV file into a pandas dataframe
        filepath = os.path.join(directory, filename)
        df = pd.read_csv(filepath)
        # Append dataframe to list
        df_list.append(df)

# Concatenate dataframes together
concatenated_df = pd.concat(df_list)

In [65]:
concatenated_df.shape

(12000, 9)

In [66]:
concatenated_df.head()

,id,first_name,last_name,Ticker,Sector,Market,Stock Name,Market Cap,Purchase Price
0,1,Hinze,Bartak,CYRXW,Transportation,NASDAQ,"CryoPort, Inc.",NaN,$6947.28
1,2,Lelia,Gresley,GILD,Health Care,NASDAQ,"Gilead Sciences, Inc.",$83.79B,$77627.18
2,3,Leicester,Roff,NMZ,NaN,NYSE,Nuveen Municipal High Income Opportunity Fund,$794.98M,$40676.73
3,4,Baxy,Fieller,USB^A,Finance,NYSE,U.S. Bancorp,NaN,$42441.50
4,5,Julita,Spradbery,INSI,NaN,NYSE,Insight Select Income Fund,$211.52M,$41908.66

In [67]:
concatenated_df.dropna()

,id,first_name,last_name,Ticker,Sector,Market,Stock Name,Market Cap,Purchase Price
1,2,Lelia,Gresley,GILD,Health Care,NASDAQ,"Gilead Sciences, Inc.",$83.79B,$77627.18
5,6,Steven,McGrale,AP,Capital Goods,NYSE,Ampco-Pittsburgh Corporation,$175.48M,$163.84
8,9,Guilbert,Fretter,CHSCM,Consumer Services,NASDAQ,CHS Inc,$542.67M,$79606.74
10,11,Maurie,Grigoli,JMBA,Consumer Services,NASDAQ,"Jamba, Inc.",$107.46M,$88103.50
11,12,Othilia,Ortler,FLOW,Technology,NYSE,"SPX FLOW, Inc.",$1.64B,$9811.38
...,...,...,...,...,...,...,...,...,...
994,995,Dennis,Dounbare,SPGI,Finance,NYSE,S&P Global Inc.,$38.28B,$90078.23
996,997,Lay,McBryde,WASH,Finance,NASDAQ,"Washington Trust Bancorp, Inc.",$872.35M,$4217.59
997,998,Melania,Anstead,MEI,Capital Goods,NYSE,"Methode Electronics, Inc.",$1.5B,$12447.51
998,999,Baxy,Matiashvili,LEA,Capital Goods,NYSE,Lear Corporation,$9.54B,$81977.75
999,1000,Fayre,Gwalter,VRNS,Technology,NASDAQ,"Varonis Systems, Inc.",$975.72M,$38802.75

In [68]:
concatenated_df.isnull().sum()

id                   0
first_name           0
last_name            0
Ticker               0
Sector            2622
Market               0
Stock Name           0
Market Cap        1891
Purchase Price       0
dtype: int64

In [69]:
concatenated_df = concatenated_df.rename(columns={'Market Cap':'Market Capitalisation'})

In [70]:
concatenated_df.columns

Index(['id', 'first_name', 'last_name', 'Ticker', 'Sector', 'Market',
       'Stock Name', 'Market Capitalisation', 'Purchase Price'],
      dtype='object')

In [71]:
concatenated_df['Purchase Price'] = concatenated_df['Purchase Price'].str.replace('$', '').astype(float)

C:\Users\Benedict\AppData\Local\Temp\ipykernel_14716\384585412.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  concatenated_df['Purchase Price'] = concatenated_df['Purchase Price'].str.replace('$', '').astype(float)

In [72]:
concatenated_df.dtypes

id                         int64
first_name                object
last_name                 object
Ticker                    object
Sector                    object
Market                    object
Stock Name                object
Market Capitalisation     object
Purchase Price           float64
dtype: object

In [73]:

# create the bins and labels for the categories
bins = [0, 25000, 50000, 75000, 100000]
labels = ['Low', 'Medium', 'High', 'Very High']

# use the cut function to create the category column
concatenated_df['Purchase Price Category'] = pd.cut(concatenated_df['Purchase Price'], bins=bins, labels=labels)

In [74]:
concatenated_df.head()

,id,first_name,last_name,Ticker,Sector,Market,Stock Name,Market Capitalisation,Purchase Price,Purchase Price Category
0,1,Hinze,Bartak,CYRXW,Transportation,NASDAQ,"CryoPort, Inc.",NaN,6947.28,Low
1,2,Lelia,Gresley,GILD,Health Care,NASDAQ,"Gilead Sciences, Inc.",$83.79B,77627.18,Very High
2,3,Leicester,Roff,NMZ,NaN,NYSE,Nuveen Municipal High Income Opportunity Fund,$794.98M,40676.73,Medium
3,4,Baxy,Fieller,USB^A,Finance,NYSE,U.S. Bancorp,NaN,42441.50,Medium
4,5,Julita,Spradbery,INSI,NaN,NYSE,Insight Select Income Fund,$211.52M,41908.66,Medium

In [75]:
concatenated_df['Market Capitalisation'] = concatenated_df['Market Capitalisation'].str.replace('$','')

C:\Users\Benedict\AppData\Local\Temp\ipykernel_14716\2417945875.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  concatenated_df['Market Capitalisation'] = concatenated_df['Market Capitalisation'].str.replace('$','')

In [76]:
# Define a list of market cap values
market_cap = [25000000, 500000000, 75000000000, 150000000000]

# Define a function to convert market cap values to size categories
def convert_market_cap(value):
    if value < 100000000:
        return 'Small'
    elif value < 1000000000:
        return 'Medium'
    elif value < 100000000000:
        return 'Large'
    else:
        return 'Huge'
    
# Create a DataFrame with the market cap values
concatenated_df['market_cap'] = pd.DataFrame({'market_cap': market_cap})

# Create an empty list to store the size categories
size_categories = []

# Loop over the market cap values and apply the convert_market_cap function to each value
for value in market_cap:
    size_category = convert_market_cap(value)
    size_categories.append(size_category)

concatenated_df['size_category'] = concatenated_df['market_cap'].apply(convert_market_cap)

In [77]:
concatenated_df

,id,first_name,last_name,Ticker,Sector,Market,Stock Name,Market Capitalisation,Purchase Price,Purchase Price Category,market_cap,size_category
0,1,Hinze,Bartak,CYRXW,Transportation,NASDAQ,"CryoPort, Inc.",NaN,6947.28,Low,2.500000e+07,Small
1,2,Lelia,Gresley,GILD,Health Care,NASDAQ,"Gilead Sciences, Inc.",83.79B,77627.18,Very High,5.000000e+08,Medium
2,3,Leicester,Roff,NMZ,NaN,NYSE,Nuveen Municipal High Income Opportunity Fund,794.98M,40676.73,Medium,7.500000e+10,Large
3,4,Baxy,Fieller,USB^A,Finance,NYSE,U.S. Bancorp,NaN,42441.50,Medium,1.500000e+11,Huge
4,5,Julita,Spradbery,INSI,NaN,NYSE,Insight Select Income Fund,211.52M,41908.66,Medium,NaN,Huge
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Mirelle,Wodham,AIV^A,NaN,NYSE,Apartment Investment and Management Company,NaN,78403.43,Very High,NaN,Huge
996,997,Lay,McBryde,WASH,Finance,NASDAQ,"Washington Trust Bancorp, Inc.",872.35M,4217.59,Low,NaN,Huge
997,998,Melania,Anstead,MEI,Capital Goods,NYSE,"Methode Electronics, Inc.",1.5B,12447.51,Low,NaN,Huge
998,999,Baxy,Matiashvili,LEA,Capital Goods,NYSE,Lear Corporation,9.54B,81977.75,Very High,NaN,Huge
999,1000,Fayre,Gwalter,VRNS,Technology,NASDAQ,"Varonis Systems, Inc.",975.72M,38802.75,Medium,NaN,Huge

In [78]:
 concatenated_df.dropna()

,id,first_name,last_name,Ticker,Sector,Market,Stock Name,Market Capitalisation,Purchase Price,Purchase Price Category,market_cap,size_category
1,2,Lelia,Gresley,GILD,Health Care,NASDAQ,"Gilead Sciences, Inc.",83.79B,77627.18,Very High,5.000000e+08,Medium
0,1,Vikki,Pascall,RIC,Basic Industries,NYSE,"Richmont Mines, Inc.",458.83M,78924.65,Very High,2.500000e+07,Small
1,2,Beulah,Michallat,ELY,Consumer Non-Durables,NYSE,Callaway Golf Company,1.14B,89818.72,Very High,5.000000e+08,Medium
3,4,Willis,Bugg,OAS,Energy,NYSE,Oasis Petroleum Inc.,1.94B,23636.92,Low,1.500000e+11,Huge
1,2,Nicoline,Kilalea,FCEL,Miscellaneous,NASDAQ,"FuelCell Energy, Inc.",65.53M,20581.67,Low,5.000000e+08,Medium
0,1,Lamar,Ascraft,DLX,Consumer Durables,NYSE,Deluxe Corporation,3.46B,8446.64,Low,2.500000e+07,Small
1,2,Marlyn,Sparshett,SHG,Finance,NYSE,Shinhan Financial Group Co Ltd,21.39B,61127.85,High,5.000000e+08,Medium
2,3,Corene,Clother,USB,Finance,NYSE,U.S. Bancorp,88.09B,73511.98,High,7.500000e+10,Large
3,4,Catriona,Kirlin,MT,Basic Industries,NYSE,ArcelorMittal,20.56B,83949.26,Very High,1.500000e+11,Huge
0,1,Sybyl,Huxley,TMUS,Public Utilities,NASDAQ,"T-Mobile US, Inc.",52.45B,38271.32,Medium,2.500000e+07,Small
1,2,Perle,Scarfe,RELL,Consumer Non-Durables,NASDAQ,"Richardson Electronics, Ltd.",75.94M,1431.02,Low,5.000000e+08,Medium
2,3,Montgomery,Paliser,RBS,Finance,NYSE,Royal Bank Scotland plc (The),37.92B,84657.21,Very High,7.500000e+10,Large
3,4,Kirstyn,Falco,TEGP,Public Utilities,NYSE,"Tallgrass Energy GP, LP",3.69B,5030.66,Low,1.500000e+11,Huge
0,1,Gay,Howgate,LUB,Consumer Services,NYSE,"Luby's, Inc.",88.73M,44389.17,Medium,2.500000e+07,Small
1,2,Shara,Kember,NRT,Energy,NYSE,North European Oil Royality Trust,61.21M,60710.96,High,5.000000e+08,Medium
2,3,Fawn,Hayers,RUBI,Technology,NYSE,"The Rubicon Project, Inc.",275.01M,10714.77,Low,7.500000e+10,Large
3,4,Colette,Ricciardelli,PHMD,Health Care,NASDAQ,"PhotoMedex, Inc.",6.29M,17801.56,Low,1.500000e+11,Huge
0,1,Hadley,Willets,AFMD,Health Care,NASDAQ,Affimed N.V.,87.88M,99959.38,Very High,2.500000e+07,Small
1,2,Cassi,Watson,SYMC,Technology,NASDAQ,Symantec Corporation,17.3B,12069.06,Low,5.000000e+08,Medium
2,3,Saundra,Koppen,BCOR,Technology,NASDAQ,"Blucora, Inc.",909.02M,85281.32,Very High,7.500000e+10,Large
3,4,Crista,Carr,GMS,Consumer Services,NYSE,GMS Inc.,1.31B,59157.56,High,1.500000e+11,Huge
0,1,Kort,Dessent,AGTC,Health Care,NASDAQ,Applied Genetic Technologies Corporation,91.32M,70550.49,High,2.500000e+07,Small
1,2,Liva,Konert,KCG,Finance,NYSE,"KCG Holdings, Inc.",1.35B,15180.89,Low,5.000000e+08,Medium
2,3,Roderich,Bartrop,RAVE,Consumer Non-Durables,NASDAQ,"Rave Restaurant Group, Inc.",22.17M,34718.71,Medium,7.500000e+10,Large
3,4,Verney,Giacobillo,MMM,Health Care,NYSE,3M Company,127.36B,96110.73,Very High,1.500000e+11,Huge
0,1,Godfry,Server,MANH,Technology,NASDAQ,"Manhattan Associates, Inc.",3.27B,20026.38,Low,2.500000e+07,Small
1,2,Feliza,Degli Antoni,EBTC,Finance,NASDAQ,Enterprise Bancorp Inc,414.73M,51187.25,High,5.000000e+08,Medium
2,3,Kathryne,Juza,ATLC,Finance,NASDAQ,Atlanticus Holdings Corporation,35.52M,78066.43,Very High,7.500000e+10,Large
1,2,Julee,Runnacles,BPL,Energy,NYSE,Buckeye Partners L.P.,8.62B,74395.94,High,5.000000e+08,Medium
3,4,Gayel,Keigher,CYOU,Technology,NASDAQ,Changyou.com Limited,2.05B,76973.64,Very High,1.500000e+11,Huge
0,1,Isa,Kinsley,UHS,Health Care,NYSE,"Universal Health Services, Inc.",11.13B,30593.11,Medium,2.500000e+07,Small
0,1,Elfie,Eyton,LYB,Basic Industries,NYSE,LyondellBasell Industries NV,32.58B,6602.67,Low,2.500000e+07,Small
1,2,Jeannine,Simoneschi,DLBL,Finance,NASDAQ,iPath US Treasury Long Bond Bull ETN,5.4M,40844.29,Medium,5.000000e+08,Medium
3,4,Rogerio,Cran,CTHR,Consumer Durables,NASDAQ,Charles & Colvard Ltd,19.68M,97881.35,Very High,1.500000e+11,Huge

In [79]:
concatenated_df.shape

(12000, 12)

In [80]:
# Define a list of column names to keep
cols_to_keep = ['Market Capitalisation', 'size_category', 'Purchase Price Category','Ticker', 'Sector', 'Market', 'Stock Name', 'Market Capitalisation', 'Purchase Price']

# Use .loc to select only the desired columns
df = concatenated_df.loc[:, cols_to_keep]

In [81]:
df = df.rename(columns={'size_category':'Market Cap Category'})

In [82]:
df.head()

,Market Capitalisation,Market Cap Category,Purchase Price Category,Ticker,Sector,Market,Stock Name,Market Capitalisation,Purchase Price
0,NaN,Small,Low,CYRXW,Transportation,NASDAQ,"CryoPort, Inc.",NaN,6947.28
1,83.79B,Medium,Very High,GILD,Health Care,NASDAQ,"Gilead Sciences, Inc.",83.79B,77627.18
2,794.98M,Large,Medium,NMZ,NaN,NYSE,Nuveen Municipal High Income Opportunity Fund,794.98M,40676.73
3,NaN,Huge,Medium,USB^A,Finance,NYSE,U.S. Bancorp,NaN,42441.50
4,211.52M,Huge,Medium,INSI,NaN,NYSE,Insight Select Income Fund,211.52M,41908.66

In [83]:
df.dropna()

,Market Capitalisation,Market Cap Category,Purchase Price Category,Ticker,Sector,Market,Stock Name,Market Capitalisation,Purchase Price
1,83.79B,Medium,Very High,GILD,Health Care,NASDAQ,"Gilead Sciences, Inc.",83.79B,77627.18
5,175.48M,Huge,Low,AP,Capital Goods,NYSE,Ampco-Pittsburgh Corporation,175.48M,163.84
8,542.67M,Huge,Very High,CHSCM,Consumer Services,NASDAQ,CHS Inc,542.67M,79606.74
10,107.46M,Huge,Very High,JMBA,Consumer Services,NASDAQ,"Jamba, Inc.",107.46M,88103.50
11,1.64B,Huge,Low,FLOW,Technology,NYSE,"SPX FLOW, Inc.",1.64B,9811.38
...,...,...,...,...,...,...,...,...,...
994,38.28B,Huge,Very High,SPGI,Finance,NYSE,S&P Global Inc.,38.28B,90078.23
996,872.35M,Huge,Low,WASH,Finance,NASDAQ,"Washington Trust Bancorp, Inc.",872.35M,4217.59
997,1.5B,Huge,Low,MEI,Capital Goods,NYSE,"Methode Electronics, Inc.",1.5B,12447.51
998,9.54B,Huge,Very High,LEA,Capital Goods,NYSE,Lear Corporation,9.54B,81977.75
999,975.72M,Huge,Medium,VRNS,Technology,NASDAQ,"Varonis Systems, Inc.",975.72M,38802.75