## W4 Data Preppin'

In [1]:
#importing libraries 
import pandas as pd
import numpy as np
pd.options.display.max_rows = None     ##this displays all data with no restrictions

In [2]:
df= pd.read_excel('New Customers.xlsx')

In [3]:
df.head()

       ID  Joining Day    Demographic      Value
0  490910            3      Ethnicity      White
1  490910            3  Date of Birth  5/23/1981
2  490910            3   Account Type      Basic
3  369221           18      Ethnicity      Black
4  369221           18  Date of Birth   3/4/2019

Viewing the dataset in MS excel.

I realised the data are saved in worksheets beased on the months

The above data is from January worksheets

Manipulatio needs to be performed to join all sheets and clean it

In [4]:
#I want the worksheets name
from openpyxl import load_workbook
file_name = "New Customers.xlsx"
workbook = load_workbook(file_name)
worksheet_names = workbook.sheetnames
print(worksheet_names)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [5]:
#read all worksheets in the excel file and create a column containg the worksheet names
# assuming that the worksheet names are stored in a list called 'worksheet_names'
dfs = []
for worksheet_name in worksheet_names:
    df_temp = pd.read_excel('New Customers.xlsx', sheet_name=worksheet_name)
    df_temp['worksheet_name'] = worksheet_name
    dfs.append(df_temp)
data = pd.concat(dfs)

In [6]:
data.head()

,ID,Joining Day,Demographic,Value,worksheet_name,Demographiic,Demagraphic
0,490910,3,Ethnicity,White,January,NaN,NaN
1,490910,3,Date of Birth,5/23/1981,January,NaN,NaN
2,490910,3,Account Type,Basic,January,NaN,NaN
3,369221,18,Ethnicity,Black,January,NaN,NaN
4,369221,18,Date of Birth,3/4/2019,January,NaN,NaN

From the above data ,all the worksheets have been joined and some columns were not the same so we need to change that (Demographic column)

In [7]:
data = data.rename(columns={'Demagraphic': 'Demographic_3','Demographiic':'Demographic_2'})

In [8]:
data.head()

,ID,Joining Day,Demographic,Value,worksheet_name,Demographic_2,Demographic_3
0,490910,3,Ethnicity,White,January,NaN,NaN
1,490910,3,Date of Birth,5/23/1981,January,NaN,NaN
2,490910,3,Account Type,Basic,January,NaN,NaN
3,369221,18,Ethnicity,Black,January,NaN,NaN
4,369221,18,Date of Birth,3/4/2019,January,NaN,NaN

Demographic columns have the same name now .

We need to make them one and join them in the dataset

In [9]:
# update the first demographic column with the values from the second and third demographic columns
data['Demographic'] = data['Demographic'].combine_first(data['Demographic_2']).combine_first(data['Demographic_3'])

# drop the second and third demographic columns
data = data.drop(columns=['Demographic_2', 'Demographic_3'])

In [10]:
#data  #displays all data  
data.head()

       ID  Joining Day    Demographic      Value worksheet_name
0  490910            3      Ethnicity      White        January
1  490910            3  Date of Birth  5/23/1981        January
2  490910            3   Account Type      Basic        January
3  369221           18      Ethnicity      Black        January
4  369221           18  Date of Birth   3/4/2019        January

Our data is intact now

 Cleaning need to be performed as required

In [11]:
#Make a Joining Date field based on the Joining Day, worksheet Names and the year 2023

# Create a new column "Joining Date"
data['Joining Date'] = pd.to_datetime(data['Joining Day'].astype(str) + ' ' + data['worksheet_name'] + ' 2023')

# Verify the new column
#print(data['Joining Date'])

Joining date created ,dropping the columns not inuse now

In [12]:
#droppin some columns
data = data.drop(columns=['Joining Day','worksheet_name'])

In [13]:
data.head()

       ID    Demographic      Value Joining Date
0  490910      Ethnicity      White   2023-01-03
1  490910  Date of Birth  5/23/1981   2023-01-03
2  490910   Account Type      Basic   2023-01-03
3  369221      Ethnicity      Black   2023-01-18
4  369221  Date of Birth   3/4/2019   2023-01-18

### Changes for Demographic columns since it contains other columns and values contains their values

### I would love to use Microsoft Excel Power Query to solve this issue

Visit this link to watch the excel video walkthrough : https://youtu.be/dFFGouIpSEE

In [14]:
#data.to_csv('data.csv') #exporting data to make changes on the above file

In [15]:
final = pd.read_excel('Final Data.xlsx')

In [16]:
final = final.drop_duplicates()

In [17]:
final.shape

(990, 5)

Thanks for watching