In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('PD 2023 Wk 1 Input.csv')
data.shape

(365, 5)

In [3]:
data.head()

,Transaction Code,Value,Customer Code,Online or In-Person,Transaction Date
0,DTB-716-679-576,1448,100001,2,20/03/2023 00:00:00
1,DS-795-814-303,7839,100001,2,15/11/2023 00:00:00
2,DSB-807-592-406,5520,100005,1,14/07/2023 00:00:00
3,DS-367-545-264,7957,100007,2,18/08/2023 00:00:00
4,DSB-474-374-857,5375,100000,2,26/08/2023 00:00:00

In [4]:
target = pd.read_csv('Targets.csv')
target.shape

(2, 5)

In [5]:
target.head()

  Online or In-Person     Q1     Q2     Q3     Q4
0              Online  72500  70000  60000  60000
1           In-Person  75000  70000  70000  60000

In [6]:
#Rename the values in the Online or In-person field, Online of the 1 values and In-Person for the 2 values
target['Online or In-Person'] = target['Online or In-Person'].map({'Online':'1','In-Person':'2'})

In [7]:
target

  Online or In-Person     Q1     Q2     Q3     Q4
0                   1  72500  70000  60000  60000
1                   2  75000  70000  70000  60000

In [8]:
#Change the date to be the quarter
data['Quarter'] =pd.PeriodIndex(data['Transaction Date'],freq='Q')
data['Quarter'] = data['Quarter'].astype(str)

In [9]:
data['Quarter'] = data['Quarter'].str[-1]

In [10]:
#dropping transaction column
data.drop(columns='Transaction Date',inplace=True)

In [14]:
target

  Online or In-Person     Q1     Q2     Q3     Q4
0                   1  72500  70000  60000  60000
1                   2  75000  70000  70000  60000

In [16]:
def condition(): 
    if (data['Online or In-Person']== 1 and data['Quarter'] == '1'): 
        return 72500 
    elif(data['Online or In-Person']== 1 and data['Quarter'] == '2'): 
        return 70000 
    elif(data['Online or In-Person']== 1 and data['Quarter'] == '3'): 
        return 60000 
    elif(data['Online or In-Person']== 1 and data['Quarter'] == '4'): 
        return 60000
    elif(data['Online or In-Person']== 2 and data['Quarter'] == '1'): 
        return 75000 
    elif(data['Online or In-Person']== 2 and data['Quarter'] == '2'): 
        return 70000 
    elif(data['Online or In-Person']== 2 and data['Quarter'] == '3'): 
        return 70000 
    else: 
        return 60000 
 
# Applying the conditions
data['Value'] = data[['Online or In-Person','Quarter']].apply(condition)

TypeError: condition() takes 0 positional arguments but 1 was given

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction Code     365 non-null    object
 1   Value                365 non-null    int64
 2   Customer Code        365 non-null    int64
 3   Online or In-Person  365 non-null    int64
 4   Quarter              365 non-null    object
dtypes: int64(3), object(2)
memory usage: 14.4+ KB